form {
  width: 300px;
}

input,
textarea {
  width: 400px;
  height: 27px;
  background: #ffffff;
  padding: 10px;
  margin-top: -20px;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 100 !important;
  letter-spacing: 0.5px;
  line-height: 20px;
}

h4 {
  font-family: "Raleway";
  font-size: 16px;
  letter-spacing: -0.02px;
  font-weight: 300;
  color: #ffffff;
}

textarea {
  height: 100px;
  font-family: "Raleway", sans-serif;
}

#submitButton {
  margin-left: -5px;
  margin-top: 10px;
  background-image: url("../images/submitButtonSprite.png");
  outline: 0;
  border: 0px;
  background-color: transparent;
  cursor: pointer;
}

@media screen and (max-width: 812px) {
  form {
    width: 90%;
  }

  input,
  textarea {
    width: 100%;
  }
}
