#cvContainer {
  left: 25%;
  top: 0%;
  width: 70%;
  height: 100%;
  word-wrap: normal;
  display: flex;
  flex-direction: column;
}

.header {
  background: #4d4d4d;
  height: 80px;
  display: absolute;
  width: 100%;
  margin-top: 0px;
  text-align: center;
  flex-wrap: wrap;
}

.header > h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 40px;
}

.header > h2 {
  margin-top: 0px;
  margin-bottom: 5px;
}

.row {
  display: flex;
  align-items: flex-start;
  margin-top: 0px;
  vertical-align: top;
}

.skills {
  flex: 25%;
  text-align: right;
  margin-right: 10px;
  /*
  display: block;
  */
}

.certifications {
  flex: 70%;
}

.justified {
  text-align: justify;
}

.cell {
  height: auto;
  margin: 0px 0px 0px 0px;
}

.certRow {
  display: flex;
  align-items: flex-start;
  margin-top: 0px;
  margin-bottom: -20px;
  height: auto;
  min-height: 20px;
}

.certRow > .dates {
  flex: 15%;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: left;
}

.certRow > .venue {
  flex: 55%;
  margin-top: 0px;
  margin-bottom: 0px;
  letter-spacing: 0.5px;
  text-align: right;
  height: auto;
}

.certRow > .role {
  flex: 30%;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: left;
}

.certRow > .topic {
  flex: 15%;
  margin-top: -20px;
  margin-bottom: 5px;
}

.certRow > .details {
  flex: 85%;
  margin-top: -20px;
  margin-bottom: 5px;
}

.certRow > .singleDescription {
  flex: 15%;
  margin-top: 0px;
  margin-bottom: 0px;
}

.certRow > .singleType {
  flex: 85%;
  margin-top: 0px;
  margin-bottom: 0px;
}

.sectionTitle {
  height: auto;
  margin: 0px 0px 0px 0px;
}

.cell.smButtonContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  -ms-flex-align: right;
}

.smButtonCell {
  flex: 33%;
  height: 60px;
  width: 60px;
}

.bio {
  height: auto;
  margin-top: 10px;
}

.break {
  height: 20px;
}

h4 {
  font-family: "raleway";
  font-size: 16px;
  letter-spacing: -0.02px;
  font-weight: 300;
  color: #ffffff;
}

.venue > h4 {
  color: #b4afc2;
  font-weight: 700;
}

.dates > h4 {
  font-weight: 700;
}

.role > h4 {
  font-weight: 700;
}

.singleDescription > h4 {
  font-weight: 700;
}

h4 > a {
  font-size: 16px;
}

a {
  text-transform: lowercase;
}

h5 {
  /* subheader */
  font-family: "raleway";
  font-size: 24px;
  letter-spacing: -0.02px;
}

.pinkSubheader {
  color: #e4859f; /* #D61D4F; pink */
  height: 24px;
  margin-bottom: -20px;
}
.whiteSubheader {
  color: #ffffff;
  margin-bottom: -20px;
}

h6 {
  /*venue*/
  font-family: "raleway";
  font-size: 16px;
  color: #b4afc2;
  letter-spacing: 0.5px;
  text-align: right;
}

@media screen and (max-width: 812px) {
  #cvContainer {
    left: 5%;
    width: 90%;
  }

  .toggleButton {
    width: 100px;
    height: 20px;
    margin: 0px 0px 0px -5px;
  }

  .header {
    background: none;
    text-align: left;
    height: auto;
    display: flex;
    flex-wrap: wrap;
  }

  .skills {
    display: none;
  }

  .certRow > .topic {
    flex: 0;
    display: none;
  }
  .certRow > .details {
    flex: 100%;
  }

  .certRow > .singleDescription {
    flex: 25%;
    margin-top: -10px;
    margin-bottom: 0px;
  }

  .certRow > .singleType {
    flex: 75%;
    margin-top: -10px;
    margin-bottom: 0px;
  }

  /* .bio.justified {
    text-align: left;
  } */
}
