#header {
  background: #4d4d4d;
  height: 80px;
  display: absolute;
  width: 100%;
  margin-top: 0px 0px 0px 0px;
  text-align: center;
}

#cvContainer {
  left: 25%;
  width: 70%;
  height: 100%;
  word-wrap: normal;
  display: flex;
  flex-direction: column;
}

#header > h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 40px;
}

#header > h2 {
  margin-top: 0px;
}

.skills {
  flex: 25%;
  justify-content: flex-end;
  text-align: right;
}

.certifications {
  flex: 75%;
}

.sectionTitle {
  height: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.row {
  display: flex;
}

.certRow {
  display: flex;
  min-height: 20px;
  height: 100%;
}

.cell.smButtonContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  -ms-flex-align: right;
}

.smButtonCell {
  flex: 33%;
  height: 60px;
  width: 60px;
}

.cell.dates {
  flex: 10%;
  height: 100%;
}

.cell.venue {
  flex: 60%;
  height: 100%;
}

.cell.role {
  flex: 30%;
  height: 100%;
}

.cell.topic {
  flex: 10%;
}

.cell.details {
  flex: 90%;
}

.cell {
  flex: 100%;
  /*border: 1px solid red;*/
}

.row .cell {
  padding: 5px;
  /*box-sizing: border-box;*/
}

h4 > a {
  text-transform: lowercase;
  font-size: 14px;
}

h4 {
  /* side, main */
  font-family: "raleway";
  font-size: 16px;
  color: #fff3f1;
  letter-spacing: 0.5px;
  line-height: 20px;
  margin-top: 0px;
}

.skills > h4 {
  text-align: right;
}
.certifications > h4 {
  text-align: left;
}

.details > h4 {
  margin-top: 0px;
}

.noBottomMargin > h4 {
  margin-bottom: -10px;
}

.noBottomMargin > h6 {
  margin-bottom: -5px;
}

.withBottomMargin > h4 {
  margin-bottom: 5px;
}

.dates > h4 {
  font-size: 14px;
}

.topic > h4 {
  font-size: 14px;
}

h5 {
  /* subheader */
  font-family: "raleway";
  font-size: 24px;
  letter-spacing: -0.02px;
}

.pinkSubheader {
  color: #d45d7c; /* #D61D4F; pink */
}
.whiteSubheader {
  color: #ffffff;
}

h6 {
  /*venue*/
  font-family: "raleway";
  font-size: 16px;
  color: #b4afc2;
  letter-spacing: 0.5px;
  text-align: right;
  margin-top: 0px;
}

#mobileCvContainer {
  width: 90%;
  left: 5%;
  display: none;
}

@media screen and (max-width: 812px) {
  #mobileCvContainer {
    display: block;
  }

  #mobileCvContainer > hr {
    margin: -15px 00px 00px;
  }

  .cell.topic {
    flex: 25%;
  }

  .cell.details {
    flex: 75%;
  }

  .cell.dates {
    display: flex;
    flex: 50%;
  }

  .cell.venue {
    display: flex;
    flex: 100%;
  }
  .cell.role {
    display: flex;
    flex: 100%;
    text-align: center;
  }

  .pinkSubheader {
    color: #ffdb58;
  }

  .noBottomMargin > h4 {
    margin-bottom: 00px;
  }

  .noBottomMargin > h6 {
    margin-bottom: 00px;
  }

  .details > h6,
  h4 {
    text-align: left;
  }

  #cvContainer {
    display: none;
  }

  .skills,
  .certifications {
    text-align: left;
  }

  #header > h1 {
    font-size: 24px;
  }

  #header > h2 {
    font-size: 22px;
  }

  h5 {
    font-size: 20px;
  }

  h4 {
    font-size: 14px;
  }

  .row {
    width: 100%;
  }

  a {
    text-transform: lowercase;
    font-size: 14px;
  }
}
